CompileFlags:
  Add: 
    - --target=x86_64-pc-windows-msvc    # Target architecture
    - -fms-compatibility                  # MSVC compatibility
    - -fms-extensions                     # Enable MSVC extensions

Diagnostics:
  ClangTidy:
    Add: 
      - performance-*
      - bugprone-*
    Remove:
      - modernize-use-trailing-return-type
      - readability-identifier-length
      - bugprone-easily-swappable-parameters

Index:
  Background: Build
